*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}
.row{
  display: table;
  clear: both;
  margin-top: 50px;
}
.card{
  width: 200px;
  height: auto;
  overflow: hidden;
  float: left;
}
.card img{
  width: 100%;
  height: auto;
}
.counter{
  width: 100%;
  display: table;
  clear: both;
}
.counter button, .counter p{
  float: left;
  width: 30px;
  height: 30px;
  margin: 10px;
}